TELNYX_API_KEY=your_telnyx_api_key
TELNYX_PUBLIC_KEY=your_telnyx_webhook_public_key
DEMO_MODE=true
SMS_TRANSPORT=demo
DEMO_FROM_NUMBER=+15557654321
DEMO_SENDER_NUMBER=+15551234567
CALL_CONTROL_APP_ID=your_call_control_application_id
MODEL=zai-org/GLM-5.2
MAX_TOOL_ITERATIONS=3
